body {
    font-family: open sans;
}

.entry {
    position: relative;
    width: 100%;
    height: 50px;
    border: solid #333 1px;
    border-radius: 5px;
    margin-top: 10px; 
    background-color: white;/* #FFF8E1;*/
}

.loading {
    visibility: visible;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 20px;
    background-image: url("./gif-preloader-9.gif");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.pass .loading, .fail .loading{
    visibility: hidden;
}


.pass {
    background-color: green !important;
}

.fail{
    background-color: red !important;
}

.entry p {
    margin-left: 20px; 
    width: 150px;
}